.productCard {
	width: 100%;
	text-align: center;
	line-height: 2.4rem;
}

.productCard img {
	margin-bottom: 2.5rem;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.6rem;
	font-weight: bold;
}

.name {
	color: var(--black);
}

.description {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--t-grey);
}

.price {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}

.oldPrice {
	text-decoration: line-through;
	color: var(--t-muted);
}

.currentPrice {
	color: var(--t-grey);
}

.colors {
	justify-content: center;
	display: flex;
	gap: 0.6rem;
}

.colors span {
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 100%;
	background-color: black;
}
