.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.1rem;
	gap: 4rem;
	height: 13.6rem;
}

.logoWrapper {
	max-width: 11.4rem;
}

.linksWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 4rem;
}

.mainMenu {
	ul {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	li {
		font-size: 1.4rem;
		line-height: 2.4rem;
		letter-spacing: 0.02rem;
		font-weight: bold;
		color: var(--t-grey);
	}
}

.utilityMenu {
	ul {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	li {
		font-size: 1.4rem;
		line-height: 2.4rem;
		letter-spacing: 0.02rem;
		font-weight: bold;
		color: var(--t-primary);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.loginLinks:first-child a:after {
	content: " / ";
}

.loginLinks:last-child a {
	margin-right: 1.5rem;
}

.linksWithIcons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	min-width: 4.6rem;
	min-height: 4.6rem;
}
