/* Criação de uma fonte "pessoal" */
@font-face {
	font-family: "batatas";
	src: url(http://localhost:5173/public/fonts/PPSupplySans-Regular.ttf);
}

:root {
	--t-primary: #23a6f0;
	--t-grey: #737373;
}

html {
	font-size: 62.5%;
}

* {
	font-family: "Montserrat", sans-serif;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
